/*尺寸统一为1200*auto*/
body{
    height:100%;
    width:100%;
}
.banner{
    position: absolute;
    left:50%;
    top:0px;
    margin-left:-600px;
    width: 1200px;
    height:30px;
}
.web-name{
    float: left;
}
.span2{
    height:30px;
    width: auto;
    float: right;
    margin-right:50px;
    line-height: 30px;
}
.span2 a{
    font-size: 16px;
    color:#000000;
    text-decoration:none;
}
.span2 a:hover{
    color:#0bc5de;
}
.web-name{
    float: left;
}
.mainMenu{
    position: absolute;
    top:30px;
    left:50%;
    margin-left:-600px;
    width: 1190px;
    height:42px;
    border: 5px solid #000000;
    background-color: #8B7B8B;

}
.span1{
    height:42px;
    width: auto;
    float: left;
    margin-left:50px;
    line-height: 42px;
}
.span1 a{
    font-size: 18px;
    color:#ffffff;
    text-decoration:none;
}
.span1 a:hover{
    color:#000
}
.span1 a:active{
    color:#03F
}


.search-input{
    margin-top:7px ;
    height:30px;
    width: 150px;
    position: absolute;
    border: solid 1px #bbccdd;
    font-size: 16px;
    left:900px;
}
.search-btn{
    margin-top:7px ;
    height:30px;
    width: 60px;
    position: absolute;
    border: solid 1px #bbccdd;
    left:1050px;
}

.content{
    position: absolute;
    top: 82px;
    left:50%;
    margin-left:-600px;
    width: 1200px;
    height: 960px;
    border-top: 0px;
}

.content-iframe{
    position: absolute;
    height:960px;
    width: 1200px;
    border-width: 0px;
    scrolling:auto;
}
.footer{
    position: absolute;
    top:1040px;
    left:50%;
    margin-left:-600px;
    width: 1190px;
    height:60px;
    border: 5px solid #000000;
    background-color:#8B7B8B;
}
.footer span{
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    display:block;
    color:#000000;
}