/*尺寸统一为1200*auto*/
body{
    height:100%;
    width:100%;
}
.banner{
    position: absolute;
    left:50%;
    top:0px;
    background: url("../image/webbanner.jpg");
    margin-left:-600px;
    width: 1200px;
    height:130px;
    border: solid 1px;
}
.ico{
    float:right;
    margin-right: 300px;
    background: url("../image/stockIco.png");
    background-size: 100% 100%;
    width: 232px;
    height: 130px;
}
.webname{
    float:left;
    font-size:50px;
    margin-left: 60px;
    margin-top: 20px;
    color: #465c71;
    line-height: 60px;
}

.mainMenu{
    position: absolute;
    top:130px;
    left:50%;
    margin-left:-600px;
    width: 1200px;
    height:52px;
    background-color: #465c71;
    border: solid 1px;

}

.mainMenu ul
{
    float: left;
    list-style:none;
    margin: 0px;
    padding: 0px;
    height:62px;

}

.mainMenu ul li
{
    float:left;
}

.mainMenu ul li a, .mainMenu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 50px;
    padding: 0px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.mainMenu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

.mainMenu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}
.search-box{
    top:50%;
    margin-top:-15px;
    height:30px;
    width: 200px;
    background-size:100%;
    position:absolute;
}
.search-input{
    height:30px;
    width: 150px;
    position: absolute;
    border: solid 1px;
    font-size: 16px;
    left:900px;
}
.search-btn{

    height:30px;
    width: 60px;
    position: absolute;
    border: solid 1px;
    left:1050px;
}

.center{
    position: absolute;
    top: 182px;
    left:50%;
    margin-left:-600px;
    width: 1200px;
    height: 750px;
    border: solid 1px;
}
.broadside{
    height:750px;
    width: 148px;
    position: absolute;
    border: solid 1px;
}
.content{
    left:150px;
    border: solid 1px;
    position: absolute;
    height:750px;
    width: 1048px;
}
.footer{
    position: absolute;
    top:920px;
    left:50%;
    margin-left:-600px;
    width: 1200px;
    height:60px;
    border: solid 1px;
    background-color:#465c71;
}
.footer span{
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    display:block;
    color:#000000;
}