.my-stock{
    position: absolute;
    top: 30px;
    left: 20px;
    height:500px;
    width: 200px;
    border: 1px solid #609ab6;
    background: #ffffff;
}

.large-market{
    position: absolute;
    top: 30px;
    left: 245px;
    height:500px;
    width: 650px;
    border: 1px solid #609ab6;
    background: #ffffff;
}

.news{
    position: absolute;
    top: 30px;
    left: 920px;
    height:500px;
    width: 250px;
    border: 1px solid #609ab6;
    background: #ffffff;
}

.stock-sequence{
    position: absolute;
    top: 550px;
    left: 20px;
    height:360px;
    width: 1150px;
    border: 1px solid #609ab6;
    background: #ffffff;
}
.index td{
    line-height: 37px;
}
.index td div{
   float: right;
    margin-top:10px;
    margin-right:5px;
    width: 12px;
    height:25px;
}
.index td div img{
    float: left;
    width:10px;
    cursor: pointer;
}
.index td div img:hover {
    transform:scale(1.4);
}
.sequence-table{
     margin:auto;
    border-collapse: collapse;
}

.sequence-table td{
    min-width: 95px;
    height: 28px;
    text-align: center;
}
.point:hover{
    cursor: pointer;
    text-decoration:underline;
}
.paging{
    height:30px;
    margin:5px 20px 20px 350px;
}
.show-details-bt{
    display: block;
    margin: 0px auto;
    padding: 5px 10px;
    background: #9c3;
    font: 14px/20px arial;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .5s ease 0.2s;
    -moz-transition: all .5s ease 0.2s;
    -ms-transition: all .5s ease 0.2s;
    -o-transition: all .5s ease 0.2s;
    transition: all .5s ease 0.2s;
}

.show-details-bt:hover{
     cursor: pointer;
    background: #690;
    color: #030;
    text-shadow: 1px 1px rgba(250, 250, 250, 0.5);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.4),
    0px 0px 5px rgba(0, 0, 0, 0.4),
    inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}