/*尺寸统一为1200*auto*/
body{
    height:100%;
    width:100%;
}
.banner{
    position: absolute;
    left:50%;
    top:0px;
    background: url("../image/webbanner.jpg");
    margin-left:-600px;
    width: 1200px;
    height:130px;
    border: solid 1px;
}
.ico{
    float:right;
    margin-right: 300px;
    background: url("../image/stockIco.png");
    background-size: 100% 100%;
    width: 232px;
    height: 130px;
}
.webname{
    float:left;
    font-size:50px;
    margin-left: 60px;
    margin-top: 20px;
    color: #465c71;
    line-height: 60px;
}

.mainMenu{
    position: absolute;
    top:130px;
    left:50%;
    margin-left:-600px;
    width: 1200px;
    height:50px;
    border: solid 1px;
    background-color: #465c71;
}

.mainMenu ul
{
    float: left;
    list-style:none;
    margin: 0px;
    padding: 0px;
    height:62px;

}

.mainMenu ul li
{
    float:left;
}

.mainMenu ul li a, .mainMenu ul li a:visited
{
    background-color: #465c71;
    color: #dde4ec;
    display: block;
    line-height: 50px;
    padding: 0px 20px;
    text-decoration: none;
    white-space: nowrap;
}

.mainMenu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

.mainMenu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

.center{
    position: absolute;
    top: 180px;
    left:50%;
    margin-left:-600px;
    width: 1200px;
    height: 800px;
    border: solid 1px;
}
.webpaper{
    position: absolute;
    height:100%;
    width: 100%;
    background-image: url("../image/registerPaper.jpg");
    background-size: 100% 100%;
}
.registerWall{
    position: absolute;
    top: 50%;
    margin-top:-315px;
    left:35%;
    width: 400px;
    height: 500px;
    background-image: url("../image/registerWall.jpg");
    opacity: 0.2;
    background-size:100% 100%;
}
.register-form{
    position: absolute;
    top: 50%;
    margin-top:-315px;
    left:35%;
    width: 400px;
    height: 500px;
    box-shadow: 2px 2px 2px  #1db5c9;
    background-size:100% 100%;


}
.title {
    margin-top:30px;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.title span {
    font-size: 28px;
    text-align: center;
    display:block;
    color:#000000;
}

.title-msg {
    width: 100%;
    height: 64px;
    line-height: 64px;
}


.title-msg span {
    font-size: 18px;
    text-align: center;
    display:block;
    color: #707472;
}

.input-content {
    width: 100%;
    height: 120px;
}

.input-content input {
    width: 330px;
    height: 40px;
    border: 1px solid #dad9d6;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.identiy{
    width: 100%;
    margin-top: 32px;
    height:40px;
}
.identiyCode{
    margin-left: 35px;
    float: left;
    height:40px;
    width: 80px;
    border: solid 1px #dad9d6;
}
.reidentiyCode{
    float: left;
    margin-left: 20px;
    height:40px;
    width: 120px;
    border: solid 1px #dad9d6;
}
.enter-btn {
    width: 350px;
    height: 40px;
    color: #fff;
    background: #0bc5de;
    line-height: 40px;
    text-align: center;
    border: 0px;
}

.enter-btn:hover {
    cursor:pointer;
    background: #1db5c9;
}

.tips{
    width: 100%;
    height: auto;
    margin-top: 50px;
    color: #0bc5de;
    font-size: 12px;
    margin-top: 20px;
}


.tips div:hover {
    cursor:pointer;
    color: #000000;
    font-weight: 500;
}

.right_tip{
    margin-right:30px;
    float: right;
}
.right_tip span {
    font-size: 16px;
    text-align: center;
    display:block;
    color:#0bc5de;
}

.footer{
    position: absolute;
    top:920px;
    left:50%;
    margin-left:-600px;
    width: 1200px;
    height:60px;
    border: solid 1px;
    background-color:#465c71;
}
.footer span{
    line-height: 60px;
    font-size: 16px;
    text-align: center;
    display:block;
    color:#000000;
}