.result-box{
    min-height: 780px;
    margin: 40px 50px 60px 80px;
    background: #ffffff;
}
.result-table{
    margin:auto;
    border-collapse: collapse;
}
.result-table td{
    min-width: 100px;
    height: 35px;
    text-align: center;
}


.paging{
    height:30px;
    margin:20px 20px 20px 350px;
}
.show-details-bt{
    float: left;
    display: block;
    margin: 0px auto;
    padding: 5px 10px;
    background: #9c3;
    font: 14px/20px arial;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .5s ease 0.2s;
    -moz-transition: all .5s ease 0.2s;
    -ms-transition: all .5s ease 0.2s;
    -o-transition: all .5s ease 0.2s;
    transition: all .5s ease 0.2s;
}

.show-details-bt:hover{
     cursor: pointer;
    background: #690;
    color: #030;
    text-shadow: 1px 1px rgba(250, 250, 250, 0.5);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.4),
    0px 0px 5px rgba(0, 0, 0, 0.4),
    inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.title{
    color: #465c71;
    font-size: 25px;
    position: absolute;
    left: 100px;
    top: 0px;
}



