.company-profile{
    font-size: 14px;
    width: 200px;
    min-height: 650px;
    max-height: 960px;
    height: auto;
    float: left ;
    background: #ffffff;
    border: 1px solid #1db5c9;
}

.profile-title{
    line-height: 50px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #1db5c9;
    background: url("../image/profileTitle.jpg");
}

.operation{
    background: #ffffff;
    line-height: 40px;
    margin-left: 30px;
    margin-top: 50px;
    width: 900px;
    height: 40px;
    float: left;
    border: 1px solid #1db5c9;
}
.span3{
    float:left;
    margin-left:20px;
}
.span3:hover{
    cursor: pointer;
    color:#0bc5de;
}
.daily_basic_data{
    background: #ffffff;
    width: 900px;
    height: 100px;
    float: left;
    margin-left: 30px;
    margin-top:20px;
    border: 1px solid #1db5c9;
}
.K-line-box{
    background: #ffffff;
    width: 900px;
    height: 450px;
    float: left;
    border: 1px solid #1db5c9;
    border-top: 0px;
    margin-left: 30px;
}